.box{
    display: flex;
   justify-content: space-between;
   margin: 2vw;
   min-height: 20%;
   max-width: 400px;
   max-height: 40px;
   padding: 2%;
   
   
}

.box img{
    width: 70px;
    height: 60px;
}

.inc{
    display: flex;
    justify-content: space-around;
    border: 2px solid green;
    border-radius: 45%;
    /* margin:2% 5% 0% 5%; */
    align-items: center;
    text-align: center;
    padding:0% 2% 2% 0%;
    /* padding:0% 0% 0% 0%; */
    width: 40px;
   
    height: 17px;
}

.btn1,.btn2{
    cursor: pointer;
}