.menu-container{
    display: flex;
    justify-content: space-between;
}

.menu-heading{
    width: 424px;
    background-color: rgb(30, 247, 88);
}
.my-order{
    width: 575px;
    /* background-color: gray; */
}